<div class="game-border p-4 m-8">
  <div class="flex flex-row">
    <div class="col-4 game-border m-2 surface-ground">
      In game configurations
    </div>
    <div class="col flex flex-column">
      <div class="game-border m-2 p-2">
        <qzr-question-card [question]="currentQuestion"></qzr-question-card>
      </div>
      <div class="m-2 flex justify-content-end">
        <button
          pButton
          type="button"
          label="Next"
          class="p-button"
          (click)="next()"
        ></button>
      </div>
    </div>
  </div>
  <div class="grid game-border m-2 surface-ground">
    <div class="col">footer like contents</div>
  </div>
</div>
