<div class="flex flex-column pmx8">
  <div class="flex align-items-center justify-content-center">
    <h3 class="pmx8 text-center">
      Let the beers flow! Spice up the drinking sessions with fun tests of
      trivia knowledge. Let the beers flow! Spice up the drinking sessions with
      fun tests of trivia knowledge. Let the beers flow! Spice up the drinking
      sessions with fun tests of trivia knowledge. Let the beers flow! Spice up
      the drinking sessions with fun tests of trivia knowledge.
    </h3>
  </div>
  <br />
  <div class="flex align-items-center justify-content-center">
    <button
      pButton
      type="button"
      label="Start"
      icon="pi pi-check"
      class="p-button-lg"
      (click)="goToSetup()"
    ></button>
  </div>
</div>
